/* COMMON SASS STYLESHEET: AUSTIN GEBAUER */
@import 'reset';
@import 'utility';
@import 'fonts';
@import 'colors';
@import 'pages/detail';
@import 'pages/home';
@import 'pages/signin';
@import 'pages/search';

/* CUSTOM STYLES */
body {
  font-family: $fs-osans;
  font-weight: 400;
  font-size: 16px;
  color: $gray-5;
  margin: 0;
  background-color: $gray-1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fs-osans;
  margin: 0.5em 0;
  color: $gray-5;
}

a {
  text-decoration: none;
  color: $gray-1;

  &:visited {
    color: $gray-1;
  }
}

nav, footer {
  font-weight: 600;
  background-color: $dill-2;

  a {
    text-decoration: none;
    color: $gray-1;
    transition: color 0.3s;

    &:hover {
      color: white;
    }
  }
}

nav {
  position:fixed;
  z-index:100;
  padding: 1em;
  padding-right: 1em;
  height:50px;
  width: 100%;
}

section {
  padding-top: 50px;
}

footer {
  height:50px;
  padding: 1em;
  padding-left: 50px;
  color: white;
}

/* MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* BETTER BOX SIZING */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* TEXT SELECTION */
::selection {
  background: $dill-1;
  color: white;
}

::-webkit-selection {
  background: $dill-1;
  color: white;
}

::-moz-selection {
  background: $dill-1;
  color: white;
}

/* NO OUTLINE MY FOCUS PLZ */ 
*:focus {
  outline: 0; 
}

/* PLACEHOLDER TEXT COLOR */
::-webkit-input-placeholder {
  color: $gray-4;
}

:-moz-placeholder { /* Firefox 18- */
  color: $gray-4;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $gray-4;  
}

:-ms-input-placeholder {  
  color: $gray-4;  
}

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* FONT AWESOME */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");