<section id="home"> 
	
	<!-- title over header image -->
	<div id="title">
		<p class="text-center">Find the hospital that's right for you.</p>
		<div>
			<input class="float-left" type="text" placeholder="Search for a hospital" ng-model = "searchQuery" />
			<button class="float-right" ng-click = "saveSearch(searchQuery)" ui-sref = "search">Search</button>
		</div>
	</div>

	<!-- Header image with overlay -->
	<div class="over"></div>
	<header></header>

	<div class="container" id="about">
		<h2 class="text-center">What is HealthPoint?</h2>
		<div class="row">
			<div class="col-xs-12">
				<p style="line-height:1.5;">Rating websites are highly popular, from ratings of events to restaurants, there seems to be a way to rate almost anything online, except for healthcare. Simply search by name of the hospital or approxmiate address of the hospital that you want to go! Do you want to go to a hospital around Seattle but not sure which one would be best fit for you? HealthPoint will allow people to rate how their medical care experiences were at a certain hospital. By browsing ratings of various hospitals, you can find a hospital that is the best for any context. This new avenue of information about medical care can help even the most stubborn or indecisive feel more comfortable about seeing doctors.
</p><br />

				<p>What are you waiting for? Start searching!</p>
			</div>
		</div>
	</div>
	<div class="container" id="team">
		<h2 class="text-center">The Team</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-4 text-center">
				<div class="member-crop"><img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfp1/v/t1.0-9/12036559_10205358362267731_5843534225996896298_n.jpg?oh=60a356525f6b2a68748e23b63d6841c6&oe=56DC755D" onmouseover="this.src='http://i.imgur.com/xBj5vdE.png';" onmouseout="this.src='https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfp1/v/t1.0-9/12036559_10205358362267731_5843534225996896298_n.jpg?oh=60a356525f6b2a68748e23b63d6841c6&oe=56DC755D';"/></div>
				<span class="caption">Andrew Bayles</span>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<div class="member-crop"><img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/1380371_10201096951042945_1526552672_n.jpg?oh=a61f39f2ac568ac0dcf45b51add3cece&oe=56D62597" onmouseover="this.src='https://ischool.uw.edu/sites/default/files/photos/JoelRoss_lg.jpg';" onmouseout="this.src='https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/1380371_10201096951042945_1526552672_n.jpg?oh=a61f39f2ac568ac0dcf45b51add3cece&oe=56D62597';"/></div>
				<span class="caption">Austin Gebauer</span>
			</div>
		</div>
		<div class="row">
			<div class="member col-xs-12 col-sm-offset-2 col-sm-4 text-center">
				<div class="member-crop"><img src="http://i.imgur.com/vW9PYp3.jpg" onmouseover="this.src='http://i.imgur.com/NFbV9Uq.png';" onmouseout="this.src='http://i.imgur.com/vW9PYp3.jpg';" /></div>
				<span class="caption">Elisabeth Chin</span>
			</div>
			<div class="member col-xs-12 col-sm-4 text-center">
				<div class="member-crop"><img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/954750_474449155983526_1235150736_n.jpg?oh=841e95fbc9be2e78a7e6ff9756ce3223&oe=56D88579" onmouseover="this.src='http://faculty.washington.edu/joelross/images/joel_ross.jpg';" onmouseout="this.src='https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/954750_474449155983526_1235150736_n.jpg?oh=841e95fbc9be2e78a7e6ff9756ce3223&oe=56D88579';" /></div>
				<span class="caption">Joseph Lee</span>
			</div>
		</div>
	</div>
</section>