<!-- partial HTML for the homepage --> <!-- <link href="css/pages/home.css" rel="stylesheet" type="text/css" /> -->
<div id="title">
	Find the hospital that's right for you.
	<div class="input-group">
		<input class="form-control" type="text" placeholder="Search" />
		<button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
	</div>
</div>
<div class="over"></div>
<header>
</header>
<div class="wrapper">
	<h2>What is HealthPoint?</h2>
	<div class="text-wrap">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut congue turpis. Mauris vitae feugiat nisl. Integer at viverra neque. Mauris a felis vitae nisl molestie aliquam at ut lectus. Mauris tempor a sapien nec blandit. Aliquam erat volutpat. In hac habitasse platea dictumst. Aliquam erat volutpat. Sed non tortor mauris. Mauris ornare ante et risus efficitur, vel lobortis enim aliquam. Vestibulum blandit rutrum magna, dapibus lobortis elit commodo vel.</p>

		<p>Nullam imperdiet nibh nec laoreet mollis. Maecenas tortor nibh, maximus eget nisi in, laoreet eleifend magna. Donec eu pretium lorem. Nullam sed elit mollis, sagittis purus in, malesuada libero. Aenean vitae purus ipsum. Ut imperdiet, mi id egestas euismod, lacus massa luctus sapien, et aliquam lectus dolor eu orci. Nunc tempus sapien sed erat scelerisque, commodo pretium est viverra. Praesent congue ac est eu facilisis. Praesent tincidunt pulvinar ligula vel fringilla. Curabitur at tristique dui. Phasellus mattis volutpat gravida.</p>
	</div>
	<h2>The Team</h2>
	<div id="team">
		<div class="row">
			<div class="member">
				<div class="member-crop"><img src="http://www.startvg.com/img/webimages/mancat.jpg" /></div>
				<span class="caption">Andrew Bayles</span>
			</div>
			<div class="member">
				<div class="member-crop"><img src="http://www.startvg.com/img/webimages/mancat.jpg" /></div>
				<span class="caption">Austin Gebauer</span>
			</div>
		</div>
		<div class="row">
			<div class="member">
				<div class="member-crop"><img src="http://i.imgur.com/vW9PYp3.jpg" /></div>
				<span class="caption">Elisabeth Chin</span>
			</div>
			<div class="member">
				<div class="member-crop"><img src="http://www.startvg.com/img/webimages/mancat.jpg" /></div>
				<span class="caption">Joseph Lee</span>
			</div>
		</div>
	</div>

</div>