<!-- HTML partial for the search feature -->
<div class = "container outer">

	<div class=" row">
		<div class = "col-sm-8">
		</div>
		<div class = "col-sm-4">
			<input class="form-control " type="text" placeholder="Search" name = "search" ng-model = "searchQuery" />
			<button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
		</div>
	</div>


	<table class="table row">
		<tr class = "tableNav ">
			<th><a href="" ng-click="sortingCriteria= hospital[9]">Name</a></th>
			<th><a href="" ng-click="sortingCriteria= hospital[10]">Address</a></th>
			<th><a href="" ng-click="sortingCriteria= hospital[11]">City</a></th>
			<th><a href="" ng-click="sortingCriteria= hospital[12]">State</a></th>
			<th><a href="" ng-click="sortingCriteria= hospital[13]">Location</a></th>
		</tr>
		<tr ng-repeat="hospital in hospitals  | orderBy:sortingCriteria | filter:searchQuery" class = "hospitalResults">
			<!-- hospital name -->
			<td><a ui-sref="detail({id: hospital[8]})">{{hospital[9]}}</a></td>
			<!-- hospital Address -->
			<td>{{hospital[10]}}</td>
			<!-- city -->
			<td>{{hospital[11]}}</td>
			<!-- state -->
			<td>{{hospital[12]}}</td>

			<td>{{hospital[13]}}</td>
		</tr>
	</table>
	
</div>
<!-- | filter:searchQuery  -->