#detail {
    #detail-container {
      background-color: white;

      p {
        margin: 1em 0;

        i {
          margin: 1em 0.1em;
          color: $dill-mint-2;
        }
      }

      #ratings {
        padding: 0.5em 0 0 4em;
      }

      iframe {
        width: 100%;
        height: 400px;
      }
    }

    #reviews-container {
      h2 {
        margin: 1em 0;
      }

      #reviews {
        margin-bottom: 1em;

        .review {
          background-color: white;
          border-radius: 3px;
          padding: 0.4em 1em 1em 1em;
          margin-bottom: 1em;

          small {
            color: $gray-3;
            position: relative;
            top: 1em;
          }

          p { 
            word-break: break-all;
            color: $gray-5;
          }
        }
      }

      form {
        input, textarea, #in-form-rating {
          width: 100%;
          border-radius: 3px;
          border: none;
          margin-bottom: 1em;
          padding: 0.5em;
        }

        button {
          border: none;
          margin-bottom: 1em;
          padding: 0.8em 1em;
          background-color: $dill-mint-2;
          transition: all 0.3s;
          color: white;
          border-radius: 3px;

          &:hover {
            background-color: $dill-mint-1;
          }
        }

        input {
          display: block;
        }

        textarea {
          display: block;
        }
      }
    }

    #ratings, #in-form-rating {
      .rating {
        margin-bottom: 1em;

        .raty {
          margin-left: 0.5em;
          color: $dill-mint-2;
        }
      }
    }

    #in-form-rating {
      background-color: white;

      .rating {
        text-align: center;

        .raty {
          color: $dill-mint-2;
        }
      } 
    }
}