.outer{
	padding-top: 3em;

}


.table{
	width: 100%;
	border-radius: 5px;
	border: black solid .5px;

	tr{
		padding-top: .5em;
		padding-bottom: .5em;
		

		td{
			padding-top: .5em;
			padding-bottom: .5em;
			text-align: center;
		}


	}




}