#search {
    background-color: white;

    a {
        color: $gray-5;
    }

    #search-container {
        background-color: $gray-2;

        #search-wrap {
            width: 100%;
            position: relative;
            top: 25px;

            input {
                width: 100%;
                border: none;
                padding: 1em;
                border-radius: 3px;
                color: $gray-5;
            }

            button {
                border: none;
                position: relative;
                top: -51px;
                left: -3px;
                background-color: $dill-mint-2;
                padding: 1em;
                border-radius: 3px;
                color: $gray-1;
                transition: all 0.3s;

                &:hover {
                    background-color: $dill-mint-1;
                    color: white;
                }
            }        
        }
    }

    #search-table {
        padding: 1em 0;

        table {
            width: 100%;
            border-radius: 5px;
            border: 1px solid $gray-1;
            border-top: none;

            tr {
                padding: .5em 0;
                border-bottom: 1px solid $gray-1;
                transition: all 0.3s;

                &:hover {
                    background-color: $gray-1;
                }

                th {
                    background-color: $dill-2;
                    color: $gray-1;

                    &:first-child {
                        border-radius: 3px 0 0 0;
                    }

                    &:last-child {
                        border-radius: 0 3px 0 0;   
                    }

                    &:hover {
                        color: white;
                    }
                }

                th, td {
                    text-align: left;
                    padding: 1em 0.5em;

                    &:last-child {
                        padding-right: 0.5em;
                    }
                }
                
                td {
                    text-align: left;
                }
            }
        }
    }

    @media (min-width: 768px) {
        #search-container {
            #search-wrap {
                width: 60%;
                margin: 0 auto;

                button {
                    top: -57px;
                }
            }
        }
    }
}